*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Inter';
    font-style: normal;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

.links {
    margin-left: 100px;
    display: flex;
    gap: 30px;
}

.links a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #4F9CF9;
    
}

.btns {
    display: flex;
    gap: 24px;
}

.btn {
    padding: 15px 25px;
    background: #4F9CF9;
    border-radius: 8px;
    color: white;
    border: none;
}

.btn:hover{
    background: #FFE492;
    color: #043873;
    cursor: pointer;
    transition: 0.5s;
}

.blue_div{
    background: #C4DEFD;
    height: 400px;
    width: 800px;
}

.Whitepace{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 200px;
    margin-top: 10vh;
    background: url(./image/white_bg.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 60px;
}

.texts h1{
    color: #4F9CF9;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: -0.02em;
}

.texts p{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #4F9CF9;
}

.one{
    width: 40%;
    margin-top: 30px;
}

.blue_div2{
    background: #C4DEFD;
    height: 350px;
    width: 500px;
}

.Project{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
    margin-top: 10vh;
    background: url(./image/BACKGROUND2.png);
    background-repeat:no-repeat;
    background-position:absolute;
    
}

.texts2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 60px;
}

.texts2 h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: -0.02em;
    color: #212529;

}

.texts2 p{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #212529;
}

.two{
    width: 40%;
    margin-top: 30px;
}

.line {
    position: absolute;
    left: 13%;
    right: 28.2%;
    top: 111%;
    bottom: 36.92%;
    z-index: -1;
    transform: matrix(1, 0, 0.01, 1, 0, 0);

}

.fa {
    color: #4F9CF9;
}