*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Inter';
    font-style: normal;
} 

.work{
    display: flex;
    align-items: center;
    margin-top: 10vh;
    background: url(./image/dark_bg.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-color: #043873;
    justify-content: space-between;
    align-items: center;

    
}

.work h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size:70px;
    line-height: 75px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom:24px; 
}

.work p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.02em;
color: #FFFFFF;
flex:none
order: 1;
align-self: stretch;
flex-grow: 0;
margin-bottom:80px;
    
}

.worktext{
    display: end;
}

.photoapps {
    width: 580px;
    height: 470px;
    
}

.readmore {
    padding: 15px 25px;
    background: #4F9CF9;
    border-radius: 8px;
    color: white;
    border: none;
}

.worktext a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding: 20px 40px;
    gap: 10px;
    width: 194px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 8px;
    flex: none;
    text-decoration: none;


}